* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}
.main {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 700px;
}
.image_block {
  flex: 0 0 45%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.registratioon_block {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 300px;
  height: 500px;
}
.header {
  margin-bottom: 25px;
}
.logo_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 55px;
  margin-bottom: 15px;
}
.logo {
  width: 35px;
  height: 35px;
  background-color: #7171ff53;
  border-radius: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #212121;
  font-size: 22px;
  font-weight: 500;
}
.header_p {
  color: #949494;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}
.input {
  text-align: left;
  margin-bottom: 10px;
}
.input label {
  display: block;
  margin-bottom: 5px;
  font-weight: 200;
  font-size: 17px;
  color: #212121;
}
.input input {
  width: 300px;
  height: 48px;
  padding: 0 15px;
  font-size: 14px;
}
.input input:focus {
  border-color: rgb(6, 101, 164);
  outline: none;
}
.submit_btn {
  margin-top: 15px;
  width: 300px;
  height: 48px;
  padding: 12px 0;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #4443ff;
  color: #ffffff;
}
.google_btn {
  margin-top: 15px;
  width: 300px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: #4443ff;
  padding: 10px 0 0;
}
.prompt {
  font-size: 14;
  color: #949494;
  margin-top: 10px;
  text-align: center;
}
.login_link {
  color: #7271ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.login_link:hover {
  text-decoration: underline;
  color: #4444ff;
}
